<!DOCTYPE html>
<html>
<head>
    <title>Invertis University</title>
</head>
<body>
    <h1>Welcome to Invertis University</h1>

    <h2>Our Infrastructure</h2>
    <img src="https://images.unsplash.com/photo-1562774053-701939374585" width="400">
    <img src="https://images.unsplash.com/photo-1588072432836-e10032774350" width="400">
    <img src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f" width="400">

    <h2>Offered Courses</h2>
    <ul>
        <li><a href="/register/MBA">MBA</a></li>
        <li><a href="/register/B.Tech">B.Tech</a></li>
        <li><a href="/register/MCA">MCA</a></li>
	<li><a href="/register/BCA">BCA</a></li>
	<li><a href="/register/B.Com">B.Com</a></li>
	<li><a href="/register/BA">BA</a></li>
    </ul>
</body>
</html>

